# Dependencies
node_modules

# Build output
dist
dist-node
*.tsbuildinfo

# Vite
*.local

# IDE
.idea
.vscode

# OS
.DS_Store

# TypeScript declaration files (generated)
vite.config.d.ts
vite.config.js
